#c1 {
	font-size: 18px;
	color: black;
	background-color: #808080;
	float: middle;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	position: relative;
	top: 100px;
	line-height: 31px;
}